.recognizer.h1 {
  font-family: sans-serif;
  text-align: center;
}

.recognizer.p {
  font-family: sans-serif;
  text-align: center;
}

.recognizer.div {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;  
}

.recognizer.button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 170px;
  line-height: 2;
  margin-top: 30px;
}

.recognizer.div.p {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);  
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

